html {
  background-color: rgba(27, 38, 54, 1);
  text-align: center;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  /* height: 100vh; */
  text-align: center;
}

.link {
  color: orange;
}

#root {
  height: 100%;
}
